* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
}

/* NavBar Style Start */

.brand-name {
        font-size: 30px;
        font-weight: bold;
}

.nav-text li a {
        font-weight: 500;
        font-size: 20px;
        margin: 0 5px;
}